* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README -text
/aclocal.m4 -text
/ap_include.am -text
/apertium-ibo.ibo.lexc -text
/apertium-ibo.ibo.rlx -text
/apertium-ibo.ibo.twoc -text
/apertium-ibo.ibo.twol -text
/apertium-ibo.pc.in -text
/apertium-ibo.post-ibo.dix -text
/autogen.sh -text
/configure -text
/configure.ac -text
/ibo.prob -text
/install-sh -text
/missing -text
/modes.xml -text
