* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-ibo.ibo.lexc -text
/apertium-ibo.ibo.rlx -text
/apertium-ibo.ibo.twoc -text
/apertium-ibo.ibo.twol -text
/apertium-ibo.pc.in -text
/apertium-ibo.post-ibo.dix -text
/autogen.sh -text
/configure.ac -text
/ibo.prob -text
/modes.xml -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
